DEFAULT pxeboot
TIMEOUT 20
PROMPT 0
LABEL pxeboot
    KERNEL {{ installer_kernel_live_file }}
    APPEND initrd={{ installer_initramfs_live_file }} coreos.inst.install_dev=sda coreos.live.rootfs_url=http://{{ support_server_ip }}/{{ installer_liverootfs_file }} coreos.inst.ignition_url=http://{{ support_server_ip }}/worker.ign
