---
# vars file for default_vars
# this is is the internal dns zone
forward_dns_zone: yourname.local
# need to get this working
#reverse_dns_zone: "100.168.192.in-addr.arpa"
# ip address of the support server that will host httpd, haproxy, pxe/dhcp/tftp
support_server_ip: 192.168.100.1
#internal fqdn of support server
support_server_fqdn: support.calligan.internal
#hostname of support server
support_server_short_name: support
# ip address of public or external facing DNS server to enable forwarding
public_dns_ip: 8.8.8.8
# subnet including netmask for dhcp configuration
internal_ip_subnet: 192.168.100.0/24
toplevel_domain: calligan.internal
# last octet of support IP
last_octet_support_ip: 1
# public facing domain-name
cluster_basedomain: calligan.name
#cluster name
cluster_name: test
# path to core os images
rhcos_mirror: https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/4.2/4.2.0/
# file name for initramfs file
installer_initramfs_file: rhcos-4.2.0-x86_64-installer-initramfs.img
# file name for kernel file
installer_kernel_file: rhcos-4.2.0-x86_64-installer-kernel
# file name for image file
installer_image_file: rhcos-4.2.0-x86_64-metal-bios.raw.gz
# IP for gateway
gateway_ip: 192.168.100.1
# path to ocp files
oc_files_url: https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.2.16/
# file name for oc client
oc_client_url: 	openshift-client-linux-4.2.16.tar.gz
# file name for openshift installer
oc_install_file: openshift-install-linux-4.2.16.tar.gz
# the following variables are for the CSR generation for local docker registry
CSR_country_name: US
CSR_organization_name: "Your Organization"
CSR_email_address: "email@domain.com"
# Full State Name
CSR_state: Pennsylvania
# City Name
CSR_locality: Levittown
# Organization Name
CSR_organizational_unit_name: None
# username for docker registry
htpasswd_docker_user: keith
# URL for internal Docker Registry
local_docker_registry_url: docker-registry.calligan.name
# ocp release version for mirroring
ocp_release: '4.2.0'         
# local registry url and port for local docker registry
local_registry: '{{ local_docker_registry_url }}:5000'      
# local repository for mirroring
local_repository: 'ocp4/openshift4'      
# openshift repo
product_repo: 'openshift-release-dev'      
# path to secrets needed to pull and push oc images
local_secret_json_filename: 'pull-secret.json'      
#release name
release_name: "ocp-release"
# subnet/network address for dhcp range
dhcp_subnet: 192.168.100.0
# dhcp scope starting ip
dhcp_start_ip: 192.168.100.2
# dhcp scope ending ip
dhcp_end_ip: 192.168.100.252
# netmask for dhcp scope
dhcp_netmask: 255.255.255.0
# dhcp broadcast address
dhcp_broadcast_address: 192.168.100.255
# rsa public key for core user that will allow ssh access to openshift cluster masters/nodes
core_ssh_public_key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVcd+iCYI3SASwnV5Twz1TwUL466Hiw3vOvrw1q9Y96GiEAWZSUMPzLmBEqp5eyml2g4m1Szqy9uIa9B7JiQFvC0748TCoXjQa/zf2PfzfpLh0w7hdQSKr/aBbPYe5+jZyD3sSEp/Zytdgq/RO7MYEbM1WMSteB8auo0K33gFiMTFEvfNXec76pSyCj47KCoolihfp1D8Go8023wwZ38Z6KOCanGhAtq0UZq0rHFPc7qO19xpieoKb+0qMSZwr+2018Z+3RbT07mskwqsv1HV8i2wfdZ6z7unSSuD8XOYEWDGSG3muvrpXLUmwWB+PU0GCpTDj+W4HSf3ANcOaWnd3 core@support.calligan.internal'

