{
  "auths": {
    "cloud.openshift.com": {
      "auth": "{{ cloud_openshift_com_token }}",
      "email": "{{ email }}"
    },
    "quay.io": {
      "auth": "{{ quay_io_token }}",
      "email": "{{ email }}"
    },
    "registry.connect.redhat.com": {
      "auth": "{{ registry_connect_redhat_com_token }}",
      "email": "{{ email }}"
    },
    "{{ local_docker_registry_url }}:5000": {
      "auth": "replacewithlocaltoken",
      "email": "{{ email }}"
    },
    "registry.redhat.io": {
      "auth": "{{ registry_redhat_io_token }}",
      "email": "{{ email }}"
    }
  }
}
