apiVersion: v1
baseDomain: {{ cluster_basedomain }}
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master 
  replicas: 3 
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  networkType: OpenShiftSDN
  serviceNetwork: 
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{"auths":{"{{ local_docker_registry_url }}:5000": {"auth": "{{ localtoken.stdout }}","email": "{{ email }}"}}}'
sshKey: '{{ core_ssh_public_key }}'
additionalTrustBundle: |
{{ cert.stdout | indent( width=2, indentfirst=True) }}
imageContentSources:
- mirrors:
  - {{ local_docker_registry_url }}:5000/{{ local_repository }}
  source: quay.io/{{ product_repo }}/ocp-release
- mirrors:
  - {{ local_docker_registry_url }}:5000/{{ local_repository }}
  source: quay.io/{{ product_repo }}/ocp-v4.0-art-dev
